amqp==1.4.9
anyjson==0.3.3
atomicwrites==1.2.1
attrs==18.2.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2018.8.24
chardet==3.0.4
Django==2.2.24
django-celery==3.2.2
django-redis==4.9.0
idna==2.7
kombu==3.0.37
more-itertools==4.3.0
pluggy==0.7.1
py==1.6.0
pytest==3.8.1
pytest-django==3.4.3
python-dateutil==2.7.3
python-magic==0.4.15
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
urllib3==1.23
vine==1.1.4
